
.main_con{
    background-color: aqua;
    background-image: url("./Images/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.cardbox{
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#pw{
    margin-left: 25vh;
}
#swayam{
    margin-right: 25vh;
}